{
  "project_info": {
    "project_number": "37917280954",
    "project_id": "mymultiverseapp",
    "storage_bucket": "mymultiverseapp.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:37917280954:android:a0c28d6a257baf50f91083",
        "android_client_info": {
          "package_name": "app.mymultiverse.ammo"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "YOUR_FIREBASE_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
